<div class="bg-light p-3 bg-opacity-50 container w-75">
    <label class="form-label" for="new-post">Updated Post:</label>
    <input class="form-control" type="text" placeholder="{{pub.title}}" name="post-title">
    <br>
    <textarea class="form-control" placeholder="{{pub.pub_text}}" style="height: 100px"></textarea>
    <br>
    <button class="btn btn-light">Update</button>
</div>
<br>