<div class="bg-light bg-opacity-50 container w-75">
    <form class="signup-form row g-3">
        <div class="col-md-6">
            <label class="form-label" for="signup-user">Enter Username:</label>
            <input class="form-control" type="text" placeholder="Username" id="signup-user">
        </div>

        <div class="col-md-6">
            <label class="form-label" for="signup-email">Enter Email Address:</label>
            <input class="form-control" type="text" placeholder="Email" id="signup-email">
        </div>

        <div class="col-12">
            <label class="form-label" for="password">Enter Password:</label>
            <input class="form-control" type="text" placeholder="Password" id="signup-password" >
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-light" id="signup-form">Sign Up</button>
            </div>
        </div>
    </form>
</div>
<br>
<div class="bg-light bg-opacity-50 container w-75">
    <form class="login-form row g-3">
        <div class="col-md-12">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" placeholder="Username" name="username">
        </div>
        <div class="col-12">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="text" placeholder="Password" name="password">
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-light" id="login-form">Login</button>
            </div>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>