<form class="new-post bg-light p-3 bg-opacity-50 container w-75">
    <label class="form-label" for="new-post">New Post:</label>
    <input id="pub-title" class="form-control" type="text" placeholder="Title">
    <br>
    <textarea id="pub-text" class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
    <br>
    <button type="submit" id="new-post" class="btn btn-light">Post</button>
</form>
<br>

{{#if pubs.length}}
<div>
    <h3 class="d-flex justify-content-center text-light">My Pubs</h3>
    {{#each pubs as |pub|}}
    <section class="card border border-5 bg-light p-3 bg-opacity-75 container w-75">
    {{> pub-info pub}}
    </section>
    <br>
    {{/each}}

</div>
{{else}}
<h5 class="text-light">Add a post</h5>
{{/if}}

<script src="/javascript/create-pub.js"></script>
