<section class="card border border-5 bg-light p-3 bg-opacity-75 container w-75">
{{> pub-info pub}}
    <div class="d-flex justify-content-between">
    <a href="/profile/edit/{{pub.id}}">Edit</a>
    <button id="delete" type="button" class="btn no-btn"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button>
    </div>
</section>
<br>

{{#if loggedIn}}
<form class="add-comment card bg-light p-3 bg-opacity-75 container w-75">
  <h5 class="card-title">Add Comment</h5>
    <textarea id="comment-text" class="form-control" placeholder="Leave a comment here"
      style="height: 100px"></textarea>
  <br>
  <button type="submit" class="btn btn-light">Add</button>
</form>
<br>
{{/if}}

{{> comment pub.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete.js"></script>
{{/if}}