<section class="card border border-5 bg-light p-3 bg-opacity-75 container w-75">
{{> pub-info pub}}
</section>
<br>

{{#if loggedIn}}
<form class="add-comment card bg-light p-3 bg-opacity-75 container w-75">
  <h5 class="card-title">Add Comment</h5>
    <textarea id="comment-text" class="form-control" placeholder="Leave a comment here"
      style="height: 100px"></textarea>
  <br>
  <button type="submit" class="btn btn-light">Add</button>
</form>
<br>
{{/if}}

{{> comment pub.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}