header {
    color: aliceblue;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;

}

a {
    color: #ffff;
}

header nav a {
    font-size: x-large;
    padding: 8px;
}

form {
    padding-bottom: 25px;
}

a:hover {
    color: #ffff;
}